<div class="auth-backdrop is-hidden" data-modal>
  <div class="auth">
    <button class="auth-btn-close" type="button" data-modal-close>
      <svg class="auth-icon-close" width="20" height="20">
        <use href="/src/images/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <form class="auth-form" name="authorization-form">
      <div class="auth-input-container">
        <input
          class="auth-input"
          type="text"
          name="user_name"
          placeholder="NAME"
          required
        />
      </div>
      <div class="auth-input-container">
        <input
          class="auth-input"
          type="text"
          name="user_email"
          placeholder="EMAIL"
          required
        />
        <svg class="auth-icon-input" width="23" height="18">
          <use href="/src/images/sprite.svg#icon-mail-02"></use>
        </svg>
      </div>
      <div class="auth-input-container">
        <input
          class="auth-input"
          type="text"
          name="user_password"
          placeholder="PASSWORD"
          required
        />
        <svg class="auth-icon-input" width="21" height="21">
          <use href="/src/images/sprite.svg#icon-lock-02"></use>
        </svg>
      </div>
    </form>
    <button class="auth-button-signup js_auth-button-signup">SIGN UP</button>
    <div class="auth-button-container">
      <button class="auth-button-up">SIGN UP</button>
      <button class="auth-button-in">SIGN IN</button>
    </div>
  </div>
</div>
