<div>
    <div>
        <button>
          <svg class="" width="28" height="28"><use href="/src/images/sprite.svg#icon-x-close"></use></svg>
        </button>
        <form class="" name="authorization form">
            <label class="" for="user-name">NAME</label>
            <div>
                <input class="" type="text" name="user_name" placeholder="" required>
                </input>
            </div>
            <label class="" for="user-email">EMAIL</label>
            <div>
                <input class="" type="text" name="user_email" placeholder="" required>
                    <svg class="" width="28" height="28"><use href="/src/images/sprite.svg#icon-mail-02"></use></svg>
                </input>
            </div>
            <label class="" for="user-password">PASSWORD</label>
            <div>
                <input class="" type="text" name="user_password" placeholder="" required>
                    <svg class="28" width="" height="28"><use href="/src/images/sprite.svg#icon-lock-02"></use></svg>
                </input>
            </div>
            <button>SIGN UP</button>
            <button>SIGN UP</button>
            <button>SIGN IN</button>
        </form>
    </div>
</div>