<header class="header-container">

    <a class="header-home header-bookshelf" href="./index.html">
        <svg class="header-logo" width="24" height="24">
            <use href="/src/images/sprite.svg#icon-logo"></use>
        </svg>
        <svg class="" width="70" height="24">
            <use href="/src/images/sprite.svg#icon-Bookshelf"></use>
        </svg>
    </a>

    <nav class="header-nav ">
        <div class="home-div page1" id="link1">
            <a class="header-home " href="./index.html">Home</a>

        </div>

        <div class=" flex" id="link2">
            <a class="header-shopping-list header-home header-shopping-list-hidden" href="/src/shopping_list_olexandr.html">Shopping list
                <svg class="header-shopping-lock " width="20" height="20">
                    <use href="/src/images/sprite.svg#icon-uil_cart"></use>
                </svg></a>

        </div>
    </nav>

    <div class="header-btn-list">

        <!-- Switcher -->

        <label for="slider" class="switch">
            <input type="checkbox" id="slider" />
            <span class="slider round"></span>
        </label>

        <!-- Burger-menu -->
        <button class="burger-btn" id="showModalBtn" type="button" aria-label="Menu" aria-expanded="false"
            aria-controls="mobile-menu">

            <svg class="header-burger" width="28" height="28">
                <use href="/src/images/sprite.svg#icon-align-left"></use>
            </svg></button>


        <!-- Button-close -->

        <button class="close burger-close-btn" type="button">
            <svg class="" width="28" height="28">
                <use href="/src/images/sprite.svg#icon-x-close"></use>
            </svg>
        </button>

        <!-- Auth-btn -->

        <div class="header-btn-user-wrap">
            <button data-auth-open="" class="menu-btn-start-tab" type="button">Stephen
                <svg class="header-btn-start-icon" width="20" height="20">
                    <use href="/src/images/sprite.svg#icon-arrow-narrow-right"></use>
                </svg>
            </button>
        </div>
    </div>

</header>
<!-- Button -->

<div id="myModal" class="header-modal">

    <div class="header-mob-log ">
        <div class="stephenImg stephen"><svg class="steph" width="19" height="19">
                <use href="/src/images/sprite.svg#icon-stephen"></use>
            </svg>
        </div>
        <p class="stephen-text">Stephen</p>

        <!-- <button data-auth-open="" class="menu-btn-start-tab stephen" type="button">Stephen
            <svg class="header-btn-start-icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
        </button> -->
    </div>
    <div class="menu-container">
        <ul class="mobil-nav-list list">
            <li class="mobil-nav-item-home">
                <div class="home-div dark" id="link1">
                    <a class="header-home " href="./index.html">Home</a>

                </div>
            </li>
            <li class="mobil-nav-item-shopping" id="link3">
                <a class="header-shopping-list mobil-shopping page2" href="/src/shopping_list_olexandr.html">Shopping
                    list
                    <svg class="header-shopping-lock mobil-shopping " width="20" height="20">
                        <use href="/src/images/sprite.svg#icon-uil_cart"></use>
                    </svg></a>

            </li>
        </ul>
    </div>
    <button class="menu-login" type="button">
        Log out
        <svg class="header-btn-start-icon" width="20" height="20">
            <use href="/src/images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
    </button>
</div>