<header class="header-container">
    <svg class="header-logo" width="24" height="24">
        <use href="/src/images/sprite.svg#icon-logo"></use>
    </svg>
    <svg class="header-bookshalf" width="70" height="24">
        <use href="/src/images/sprite.svg#icon-Bookshelf"></use>
    </svg>

    <nav class="header-nav">
        <div class="home-div">
            <a class="header-home" href="./index.html">Home</a>

        </div>
        <button class="header-shopping-list" type="button">Shopping list</button>
        <svg class="header-shopping-lock" width="21" height="21">
            <use href="/src/images/sprite.svg#icon-lock-02"></use>
        </svg>
    </nav>

    <div class="header-btn-list">

        <!-- Switcher -->

        <input type="checkbox" id="switch" /><label for="switch"></label>

        <!-- Burger-menu -->

        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="header-burger" width="28" height="28">
                <use href="/src/images/sprite.svg#icon-align-left"></use>
            </svg> </button>

        <!-- Auth-btn -->

        <div class="header-btn-user-wrap">
            <button data-auth-open="" class="menu-btn-start-tab" type="button">Sign up
                <svg class="header-btn-start-icon" width="20" height="20">
                    <use href="/src/images/sprite.svg#icon-arrow-narrow-right"></use>
                </svg></button>
        </div>
    </div>

</header>