<header class="header-container">
    <svg class="header-logo" width="24" height="24">
        <use href="/src/images/sprite.svg#icon-logo"></use>
    </svg>
    <svg class="header-bookshalf" width="70" height="24">
        <use href="/src/images/sprite.svg#icon-Bookshelf"></use>
    </svg>

    <div class="header-btn-list">

        <!-- Switcher -->
        <!-- <svg class="header-switcher" width="40" height="24">
            <use href="/src/images/sprite.svg#icon-Switcher-2"></use>
        </svg> -->
        <input type="checkbox" id="switch" /><label for="switch"></label>

        <!-- Burger-menu -->
        <svg class="header-burger" width="28" height="28">
            <use href="/src/images/sprite.svg#icon-align-left"></use>
        </svg>

        <!-- Auth-btn -->
        <div class="header-btn-user-wrap">
            <button data-auth-open="" class="menu-btn-start-tab" type="button">Sign up
                <svg class="header-btn-start-icon" width="20" height="20">
                    <use href="/src/images/sprite.svg#icon-arrow-narrow-right"></use>
                </svg></button>
        </div>
    </div>

</header>