<div class="backdrop is-hidden" id="book-modal">
  <div class="modal an-book-info-modal">
    <button type="button" class="modal__close-btn">
      <svg class="modal__close-img" width="12" height="12">
        <use href="./images/sprite.svg#icon-x-close2"></use>
      </svg>
    </button>

    <div class="modal__content"></div>

    <button type="button" class="add-bookBtn" disabled>
      Add to shopping list
    </button>
    <!-- <button type="button" class="add-bookBtn remove-book">
      Remove from the shopping list
    </button> -->
    <p class="notification hidden">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
    <p class="notification notification-log">Please sign in to your account to add item to the shopping list</p>
  </div>
</div>
