<div class="backdrop is-hidden" id="book-modal">
  <div class="modal an-book-info-modal">
    <button type="button" class="modal__close-btn">
      <svg class="modal__close-img" width="14" height="14">
        <use href="./images/sprite.svg#icon-x-close"></use>
      </svg>
    </button>

    <div class="modal__content"></div>

    <button type="button" class="add-bookBtn">
      <span class="addNotification">Add to shopping list</span>
      <span class="removeNotification hidden"
        >Remove from the shopping list</span
      >
    </button>
    <p class="notification hidden">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
