<section class="pagination-section">
    <div>
        <!-- <h2 class="pagination-title">Slider</h2> -->
        <div class="pagination-block-start">
            <ul class="pagination-list">
                <li class="pagination-item">
                    <button class="pagination-btn" type="button">
                        <svg class="pagination-icon" width="44" height="44">
                            <use href=""></use>
                        </svg>
                    </button>
                </li>
                <li class="pagination-item">
                    <button class="pagination-btn" type="button">
                        <svg class="pagination-icon" width="44" height="44">
                            <use href=""></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
        <div class="pagination-block-number">
            <ul class="pagination-list">
                <li class="pagination-item">
                    <button class="pagination-btn" type="button">
                        <svg class="pagination-icon" width="44" height="44">
                            <use href=""></use>
                        </svg>
                    </button>
                </li>
                <li class="pagination-item">
                    <button class="pagination-btn" type="button">
                        <svg class="pagination-icon" width="44" height="44">
                            <use href=""></use>
                        </svg>
                    </button>
                </li>
                <li class="pagination-item">
                    <button class="pagination-btn" type="button">
                        <svg class="pagination-icon" width="44" height="44">
                            <use href=""></use>
                        </svg>
                    </button>
                </li>
                <li class="pagination-item">
                    <button class="pagination-btn" type="button">
                        <svg class="pagination-icon" width="44" height="44">
                            <use href=""></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
        <div class="pagination-block-end">
            <ul class="pagination-list">
                <li class="pagination-item">
                    <button class="pagination-btn" type="button">
                        <svg class="pagination-icon" width="44" height="44">
                            <use href=""></use>
                        </svg>
                    </button>
                </li>
                <li class="pagination-item">
                    <button class="pagination-btn" type="button">
                        <svg class="pagination-icon" width="44" height="44">
                            <use href=""></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>
