<!-- <div class="pagination container">
    <div class="pagination-block-start pagination-block">
        <ul class="pagination-list pagination-list-slider">
            <li class="pagination-item">
                <button class="pagination-btn pagination-btn-previous" type="button">
                    <svg class="pagination-icon" width="24" height="24">
                        <use href="/src/images/sprite.svg#icon-chevrons-left"></use>
                    </svg>
                </button>
            </li>
            <li class="pagination-item">
                <button class="pagination-btn pagination-btn-previous" type="button">
                    <svg class="pagination-icon" width="24" height="24">
                        <use href="/src/images/sprite.svg#icon-left"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <div class="pagination-block-number pagination-block">
        <ul class="pagination-list pagination-list-number">
            <li class="pagination-item">
                <button class="pagination-btn" type="button">
                    <p class="pagination-number">1</p>
                </button>
            </li>
            <li class="pagination-item">
                <button class="pagination-btn" type="button">
                    <p class="pagination-number">2</p>
                </button>
            </li>
            <li class="pagination-item">
                <button class="pagination-btn" type="button">
                    <p class="pagination-number">3</p>
                </button>
            </li>
        </ul>
        <button class="pagination-btn pagination-btn-more" type="button">
            <p>...</p>
        </button>
    </div>
    <div class="pagination-block-end pagination-block">
        <ul class="pagination-list pagination-list-slider">
            <li class="pagination-item">
                <button class="pagination-btn pagination-btn-next" type="button">
                    <svg class="pagination-icon" width="24" height="24">
                        <use href="/src/images/sprite.svg#icon-right"></use>
                    </svg>
                </button>
            </li>
            <li class="pagination-item">
                <button class="pagination-btn pagination-btn-next" type="button">
                    <svg class="pagination-icon" width="24" height="24">
                        <use href="/src/images/sprite.svg#icon-chevrons-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</div> -->