<div class="pagination container">
    <!-- <h2 class="pagination-title">Slider</h2> -->
    <div class="pagination-block-start pagination-block">
        <ul class="pagination-list pagination-list-slider">
            <li class="pagination-item">

                <button class="pagination-btn pagination-btn-previous" type="button">
                    <svg class="pagination-icon" width="24" height="24">

           
                        <use href="/src/images/sprite.svg#icon-align-left"></use>
                    </svg>
                </button>
            </li>
            <li class="pagination-item">

                <button class="pagination-btn pagination-btn-previous" type="button">
                    <svg class="pagination-icon" width="24" height="24">

    
                        <use href="/src/images/sprite.svg#icon-align-left"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <div class="pagination-block-number pagination-block">
        <ul class="pagination-list pagination-list-number">
            <li class="pagination-item">
                <button class="pagination-btn" type="button">
                    <p>1</p>
                </button>
            </li>
            <li class="pagination-item">
                <button class="pagination-btn" type="button">
                    <p>2</p>
                </button>
            </li>
            <li class="pagination-item">
                <button class="pagination-btn" type="button">
                    <p>3</p>
                </button>
            </li>
            <li class="pagination-item">
                <button class="pagination-btn" type="button">
                    <p>...</p>
                </button>
            </li>
        </ul>
    </div>
    <div class="pagination-block-end pagination-block">
        <ul class="pagination-list pagination-list-slider">
            <li class="pagination-item">

                <button class="pagination-btn pagination-btn-next" type="button">
                    <svg class="pagination-icon" width="24" height="24">


                        <use href="/src/images/sprite.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="pagination-item">

                <button class="pagination-btn pagination-btn-next" type="button">
                    <svg class="pagination-icon" width="24" height="24">
                        <use href="/src/images/sprite.svg#icon-arrow-narrow-right"></use>

               

                    </svg>
                </button>
            </li>
        </ul>
    </div>
</div>