<div class="fond-box">
  <div class="fond-wrap">
    <h3 class="fonds-title">Support Ukraine</h3>
    <svg class="ukr-symbole" width="20" height="32">
      <use href="/src/images/sprite.svg#icon-Group-2"></use>
    </svg>
  </div>
  <div class="fond-slider-container">
    <ul class="fonds-list my-slider"></ul>
  </div>

  <button class="fond-button">
    <svg class="fond-scroll-icon" width="20" height="32">
      <use href="/src/images/sprite.svg#icon-fi-rr-angle-small-left"></use>
    </svg>
  </button>
</div>
