.auth-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: var(--accent-blue-color);
}

.auth {
  position: absolute;
  top: calc(50% - 258px);
  left: calc(50% - 289.5px);
  width: 579px;
  min-height: 516px;
  padding: 24px;
  background: var(--bg-color);
  border-radius: 18px;
  border: 2px solid #111111;
}

.auth-btn-close {
  display: block;
  margin-left: auto;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 56px;
}
/* .is-hidden {
  display: none;
} */

.auth-input {
  width: 100%;
  height: 64px;
  border: 2px solid #111111;
  border-radius: 40px;
  padding: 20px 0px 20px 40px;
  gap: 28px;
}
.auth-input-container:nth-child(2) {
  position: relative;
}

.auth-icon-input:nth-child(2) {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.auth-input-container:nth-child(3) {
  position: relative;
}

.auth-icon-input:nth-child(3) {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.auth-button-signup {
  width: 100%;
  height: 64px;
  border-radius: 40px;
  background-color: #111111;
  margin-top: 40px;
  text-align: center;
}

.auth-button-container {
  text-align: center;
  margin-top: 20px;
}
.auth-button-up {
}
