@media only screen and (min-width: 1440px) {
   .wrapper {
    
    padding: 40px;
  }
}


.main-title {

 margin-bottom: 40px;


 color:var(--black-text-color);
 font-size: 32px;
 line-height: 1.18;
 letter-spacing: -0.04em;

}

@media only screen and (min-width: 768px) {

    .main-title {

        font-size: 48px;
        line-height: 1.08;

    }
}

@media only screen and (min-width: 1440px) {
   
   .main-title {
    
    margin-bottom: 115px;
  }
}

.main-title-wrapper {

 color:var(--accent-blue-color);

}

.common-title {

    margin-bottom: 18px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: 0.03em;

    text-transform: uppercase;
}


@media only screen and (min-width: 768px) {
   .book-list{ 

    display: flex;
    gap:25px;

  }
}

@media only screen and (min-width: 1440px) {
   
   .book-list {
    
    gap:24px;
  }
}

.common-item {

  margin-bottom: 14px;
}


@media only screen and (min-width: 1440px) {
  .book-item{

    width: 180px;
    
  }
}


.book-img {

    width: 335px;
    height: 485px;
    margin-bottom: 14px;
    border-radius: 8px;

}

@media only screen and (min-width: 768px) {
   .book-img{
    
    width: 218px;
    height: 316px;
  }
}

@media only screen and (min-width: 1440px) {
  
   .book-img{

    width:180px;
    height: 256px;
    
  }
}

.book-title {

    margin-bottom: 4px;

    color:var(--black-text-color);
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;

    text-transform: uppercase;

    text-overflow: ellipsis;
    overflow: hidden;
     white-space: nowrap;
}

p.book-author {

    margin-bottom: 8px;

   font-size: 12px;
   letter-spacing: -0.04em;
   line-height: 1.17;

   font-style: italic;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   
   
}

@media only screen and (min-width: 768px) {
   .book-author{
     
    margin-bottom: 20px;
  }
}

.showMore-btn {

    display: flex;

   margin-bottom: 40px;
    margin-right: 0;
    margin-left: auto;
    padding: 14px 28px;
    border-radius: 40px;

    border: 2px solid var(--accent-blue-color);
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    
    text-transform: uppercase;

}
