.btn-up {
  width: 64px;
  height: 64px;
  position: fixed;
  background-color: var(--accent-blue-color);
  right: 25px;
  bottom: 90px;
  border-radius: 50%;
  cursor: pointer;
  padding: 15px;
  z-index: 10000;
  border: 5px solid transparent;
  opacity: 0.8;
  transition: border-color 200ms ease-in, border-radius 200ms ease-in;
}
.btn-up > use > svg {
  display: flex;
  justify-content: center;
  fill: white;
  text-align: center;
}

.btn-up_hide {
  display: none;
}

.btn-up:hover {
  border-color: rgba(192, 179, 238, 0.8);
  border-radius: 50%;
}
