.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 24px;
  background: rgba(17, 17, 17, 0.4);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  z-index: 100;
}

.is-hidden {
  display: none;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 579px;
  max-height: 100%;
  z-index: 5;

  padding: 40px 24px;

  border: 2px solid #111111;
  border-radius: 18px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 767px) {
  .modal {
    max-width: 335px;
    max-height: 100%;
  }
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 12px;
  right: 12px;
  background: inherit;

  width: 28px;
  height: 28px;

  border: none;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 767px) {
  .modal__close-btn {
    width: 24px;
    height: 24px;
  }
}

.modal__close-img {
  stroke: #111111;
}

.modal__close-img:hover,
.modal__close-img:focus {
  transform: scale(1.2);
  stroke: #4f2ee8;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  transform: scale(1.2);
}

.modal__content {
  display: flex;
  /* justify-content: center; */
  gap: 24px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .modal__content {
    gap: 14px;
    flex-wrap: wrap;
  }
}

.add-bookBtn {
  margin-bottom: 8px;
  padding: 14px 20px;
  background-color: inherit;

  border: 2px solid #4f2ee8;
  border-radius: 40px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--title-color);

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .add-bookBtn {
    padding: 20px;
    font-size: 18px;
  }
}

.add-bookBtn:hover,
.add-bookBtn:focus,
.add-bookBtn:active {
  background-color: #4f2ee8;
  color: #ffffff;
}

.notification {
  max-width: 324px;
  margin: 0 auto;

  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  text-align: center;
  letter-spacing: -0.04em;

  color: rgba(17, 17, 17, 0.5);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .notification {
    font-size: 12px;
  }
}

.removeNotification {
  text-transform: uppercase;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.hidden {
  display: none;
}
.an-book-info-modal {
  background-color: #ffffff;
  position: relative;
}

.modal__img {
  max-width: 192px;
  max-height: 281px;
}

@media only screen and (max-width: 767px) {
  .modal__img {
    min-width: 287px;
    max-height: 408px;
  }
}

.modal__title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 4px;

  letter-spacing: -0.04em;

  color: var(--title-color);
}

@media only screen and (min-width: 768px) {
  .modal__title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.modal__author {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: -0.04em;

  color: #b4afaf;

  margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
  .modal__author {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.modal__book-desc {
  margin-bottom: 14px;
  max-width: 279px;
  max-height: 100%;
  overflow-y: hidden;

  color: var(--title-color);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .modal__book-desc {
    font-size: 14px;
    margin-bottom: 22px;
  }
}

.modal-book-image-list {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  border: none;
  padding: 0;
  margin: 0;
}
