.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 24px;
  background: rgba(17, 17, 17, 0.4);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  scale: 1;
  overflow: hidden;
  overflow-y: y;
}

.is-hidden {
  display: none;
}

/* .is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
} */

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 579px;
  max-height: 515px;
  z-index: 5;

  padding: 40px;
  border: 2px solid #111111;
  border-radius: 18px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 24px;
  background: inherit;

  width: 28px;
  height: 28px;

  border: none;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.an-book-info-modal {
  color: #111111;
}
.modal__close-img {
  stroke: #111111;
}

.modal__close-img:hover,
.modal__close-img:focus {
  transform: scale(1.2);
  stroke: #4f2ee8;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  transform: scale(1.2);
}

.modal__content {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.add-bookBtn {
  margin-bottom: 8px;
  padding: 20px;
  background-color: inherit;

  border: 2px solid #4f2ee8;
  border-radius: 40px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #111111;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.add-bookBtn:hover,
.add-bookBtn:focus,
.add-bookBtn:active {
  background-color: #4f2ee8;
  color: #ffffff;
}
.notification {
  max-width: 324px;

  margin: 0 auto;

  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  letter-spacing: -0.04em;

  color: rgba(17, 17, 17, 0.5);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.removeNotification {
  text-transform: uppercase;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.hidden {
  display: none;
}
.an-book-info-modal {
  background-color: #ffffff;
  position: relative;
}

.modal__img {
  max-width: 192px;
  max-height: 281px;
}

.modal__title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 8px 0;

  letter-spacing: -0.04em;

  color: #111111;
}

.modal__author {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.04em;

  color: #b4afaf;

  margin: 0 0 20px 0;
}

.modal__book-desc {
  margin: 0 0 20px 0;
  max-width: 279px;
  max-height: 70px;
  overflow-y: scroll;

  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.04em;
}
.modal__book-desc::-webkit-scrollbar {
  max-width: 3px;
}

.modal__book-desc::-webkit-scrollbar-track {
  background: rgb(134, 134, 134);
}

.modal__book-desc::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 50px;
  border: 3px solid rgb(37, 36, 36);
}

.modal__list {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  border: none;
  padding: 0;
  margin: 0;
}
