.fond-box{
    width: 335px;
    padding: 28px 40px;
    border-radius: 16px;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, var(--accent-blue-color) 18.03%, var(--white-color) 100%);
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
}
@media screen and (min-width: 768px){
    .fond-box{
        padding: 26px 40px;
    }
}

.fond-wrap{
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.fonds-title{
    color:var(--white-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.88px;
}
@media screen and (min-width: 768px){
    .fond-wrap{
        margin-bottom: 42px;
    }

    .fonds-title{
        font-size: 24px;
    }
}

.fond-img{
    filter: brightness(0) invert(1);
}

.fond-num {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.56px;
}

.fonds-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.fonds-items {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 14px;

}

.fond-slider-box{
    height: 188px;
    overflow: hidden;
}

@media screen and (min-width: 768px){
.fond-slider-box{
    height: 292px;
}
}

.ukr-symbole{
    fill: var(--white-color);
    
}




/**
  |============================
  | Button style
  |============================
*/
.fond-scroll-button {
    position: relative;
    margin: 16px auto 0px auto;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
    .fond-scroll-button {
        margin-top: 24px;
    }
}

.fond-scroll-icon {
    position: absolute;
    top: 60%;
    left: 50%;

    transform: translate(-50%, -50%);
    fill: var(--accent-blue-color);
    transition: transform 0.3s ease;

}
.fond-scroll-button:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

